.thinger-customise {
  list-style-image: url('chrome://thinger/skin/options.png');
}

.thinger-item[thingtype="bookmark-item"] {
  list-style-image: url('chrome://thinger/skin/bookmark.png');
}

.thinger-item[thingtype="bookmark-toolbar"] {
}

.thinger-item[thingtype="search"] {
  list-style-image: url('chrome://thinger/skin/search.png');
}

toolbar .thinger-item[thingtype="script"] {
}
