@namespace html url("http://www.w3.org/1999/xhtml");

.thinger-customise {
  list-style-image: url('chrome://thinger/skin/options.png');
}

.thinger-item[thingtype="bookmark-item"] {
  list-style-image: url('chrome://thinger/skin/bookmark.png');
}

.thinger-item[thingtype="bookmark-toolbar"] {
  list-style-image: url('chrome://thinger/skin/toolbar.png');
}

.thinger-item[thingtype="places-item"] {
  list-style-image: url('chrome://thinger/skin/bookmark.png');
}

.thinger-item[thingtype="places-toolbar"] {
  list-style-image: url('chrome://thinger/skin/toolbar.png');
}

#thinger-palette .thinger-item[thingtype="search"] {
  list-style-image: url('chrome://thinger/skin/search.png');
}

.thinger-item[thingtype="script"] {
  list-style-image: url('chrome://thinger/skin/script.png');
}

.thinger-searchbar[empty="true"] .searchbar-textbox {
  color: graytext;
}

.thinger-searchbar .search-go-button {
	border: 0px none !important;
}

toolbarpaletteitem .thinger-item[thingtype="search"] html|*.textbox-input {
	visibility: hidden;
}

.thinger-item[thingtype="bookmark-toolbar"] .bookmarks-toolbar-customize {
  list-style-image: url('chrome://thinger/skin/toolbar.png') !important;
}

.thinger-item[thingtype="places-toolbar"] .bookmarks-toolbar-customize {
  list-style-image: url('chrome://thinger/skin/toolbar.png') !important;
}
