toolbar .thinger-item[thingtype="places-item"] {
  -moz-binding: url('chrome://thinger/content/places/bookmark.xml#bookmark');
}

toolbar .thinger-item[thingtype="places-toolbar"] {
  -moz-binding: url('chrome://thinger/content/places/toolbar.xml#toolbar');
}

.thinger-placesbar {
  -moz-binding: url('chrome://thinger/content/places/toolbar.xml#places-bar');
  overflow: hidden;
}

toolbar .thinger-item[thingtype="bookmark-item"] {
  -moz-binding: url('chrome://thinger/content/bookmarks/bookmark.xml#bookmark');
}

toolbar .thinger-item[thingtype="bookmark-toolbar"] {
  -moz-binding: url('chrome://thinger/content/bookmarks/toolbar.xml#toolbar');
}

toolbar .thinger-item[thingtype="search"] {
  -moz-binding: url('chrome://thinger/content/search/search.xml#search');
}

.thinger-searchbar {
  -moz-binding: url('chrome://thinger/content/search/search.xml#searchbar');
}

toolbar .thinger-item[thingtype="script"] {
  -moz-binding: url('chrome://thinger/content/script/script.xml#script');
}

toolbar .thinger-item[thingtype="script"] .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

.thinger-customise {
  -moz-binding: url("chrome://thinger/content/bindings/thing.xml#customise");
}
