toolbar .thinger-item[thingtype="bookmark-item"] {
  -moz-binding: url('chrome://thinger/content/bookmark/bookmark.xml#bookmark');
}

toolbar .thinger-item[thingtype="bookmark-toolbar"] {
  -moz-binding: url('chrome://thinger/content/bookmark/toolbar.xml#toolbar');
}

.thinger-placesbar {
  -moz-binding: url('chrome://thinger/content/bookmark/toolbar.xml#places-bar');
  overflow: hidden;
}

toolbar .thinger-item[thingtype="search"] {
  -moz-binding: url('chrome://thinger/content/search/search.xml#search');
}

.thinger-searchbar {
  -moz-binding: url('chrome://thinger/content/search/search.xml#searchbar');
}

toolbar .thinger-item[thingtype="script"] {
  -moz-binding: url('chrome://thinger/content/script/script.xml#script');
}

.thinger-customise {
  -moz-binding: url("chrome://thinger/content/bindings/thing.xml#customise");
}
